@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.max-width{
     max-width: 1400px;
     padding: 0 80px;
     margin: auto;

}
/* NAVBAR STYLING */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
} 
.navbar.sticky{
    padding: 20px 0;
    background: rgb(10, 1, 41);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    margin-left: 0px;
    color: rgb(255, 0, 0);
    font-size: 42px;
    font-weight: 600;
}
.navbar .logo a:hover{
    color: rgb(33, 20, 220);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(0, 167, 22);
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(33, 20, 220);
}

/*menu button*/ 

.menu-btn{
    color:#fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    font-size: 30px;
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(10, 1, 41);
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;

}
/* home section style*/

.home{
    display: flex;
    background: url("banner2.jpg") no-repeat center;
    height: 100vh;
    
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    color: rgb(7, 0, 0);
    font-size: 25px;
}
.home .home-content .text-1 span{
    color: rgb(241, 19, 19);
    font-size: 28px;
}
.home .home-content .text-2{
    text-align: center;
    color: rgb(0, 20, 3);
    font-size: 100px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    text-align: center;
    color: rgb(1, 61, 6);
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(220, 20, 20);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(8, 16, 54);
    color:#fff;
    font-size: 20px;
    padding: 11px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 5);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color:rgb(1, 2, 42);
    background: none;
}

/*all simillar content styling code*/

section{
    padding: 100px 0;
}
.about, .services, .skills, .pro, .contact, footer{
    font-family: 'Poppins',sans-serif;
}
.about .about-content, .services .serv-content, 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    color: rgb(10, 1, 41);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 3px;
    background: rgb(10, 1, 41);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(168, 3, 3);
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/*about section styling*/

.about .title::after{
    content: "";
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    border:4px solid rgb(10, 1, 41);
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    color:  rgb(10, 1, 41);;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(172, 9, 9);
}
.about .about-content .right p{
    font-size: 30px;
    
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(10, 1, 41);
    color:#fff;
    font-size: 20px;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 3px solid  rgb(10, 1, 41);
    transition: all 0.3s ease;

}
.about .about-content .right a:hover{
    color:rgb(10, 1, 41);
    background: none;
}

/*project section*/

.pro .title{
    color: rgb(20, 3, 3);
}
.pro .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 260px;
    height: 3px;
    transform: translateX(-50%);
    background: #fff;
}

.pro .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.pro .carousel .card:hover{
    background: rgb(10, 1, 41);
}
.pro .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.pro .carousel .card:hover .box{
    transform: scale(1.05);
}
.pro .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.pro .carousel .card .text a{
    color: #fff;
}

.pro .carousel .card img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(12, 9, 10);
    transition: all 0.3s ease;
}
.pro .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 3px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: crimson!important;
}

/*contact section styling*/
.contact .title::after{
    content: "get in touch";
}
.contact .title::before{
    width: 250px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 30px;
    font-weight: 600;
    color: rgb(231, 9, 9);
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(238, 45, 45);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(156, 4, 4);
    background: rgb(10, 1, 41);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: rgb(156, 4, 4);
    background: none;
}

/*skills section styling*/


.skills .skills-content .column{
    width: calc(50% - 50px);
}
.skills .skills-content .left p{
    font-size: 25px;
}
.skills .skills-content .left .text{
    display: flex;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.skills .skills-content .right .bars .info{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 20px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: rgb(173, 172, 172);
    position: relative;
}
.skills .skills-content .right .line::before{
    
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    top: 0;
    background: rgb(10, 1, 41);
}

/*project section*/

.pro {
    background-color: rgb(24, 22, 22);
}
.pro .title{
    color: rgb(255, 0, 0);
}
.pro .title::before{
    
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 150px;
    height: 3px;
    transform: translateX(-50%);
    background: rgb(255, 0, 0);
}

.pro .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.pro .carousel .card:hover{
    background: rgb(10, 1, 41);
}
.pro .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.pro .carousel .card:hover .box{
    transform: scale(1.05);
}
.pro .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.pro .carousel .card .text a{
    color: #fff;
}

.pro .carousel .card img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(10, 163, 4);
    transition: all 0.3s ease;
}
.pro .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 3px solid rgb(10, 163, 4)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: rgb(10, 163, 4)!important;
}

/*contact section styling*/
.contact .title::after{
    content: "get in touch";
}
.contact .title::before{
    width: 250px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 30px;
    font-weight: 600;
    color: rgb(231, 9, 9);
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(238, 45, 45);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(156, 4, 4);
    background: rgb(10, 1, 41);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: rgb(156, 4, 4);
    background: none;
}

/*footer section styling*/

footer{
    text-align: center;
    background: rgb(10, 1, 41);;
    padding: 20px 23px;
    color: #fff;
}
footer span img{
    color: rgb(246, 235, 235);
}
footer span a{
    color: rgb(156, 4, 4);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;

}

/*responsive media query start*/
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .right p{
        font-size: 20px;
    }
}
@media (max-width:947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 3, 29);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease-in-out;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 100px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }  
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 50%;
    }  
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }  
    .about .about-content .right{
       flex: 100%;
    }  
    .about .about-content .right p{
        font-size: 21px;
    }


    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 40px;
    }
    
}

@media (max-width: 765px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content a{
        font-size: 27px;
    }
    .home .home-content .text-2{
        font-size: 90px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }   
    .services .serv-content .card{
        width: 100%;
    } 
   
}
@media (max-width: 619px) {
    .home .home-content a{
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 90px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }    
   
}
@media (max-width: 518px) {
    .home .home-content a{
        font-size: 18px;
    }

    .home .home-content .text-2{
        font-size: 80px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }    
   
}
@media (max-width: 423px) {

    .home .home-content .text-2{
        font-size: 80px;
    }
    .home .home-content .text-3{
        font-size: 23px;
    }    
   
}